<!DOCTYPE html>
<%- include('../components/head.ejs') %>
<body>
  <div class="container-both">
    <%- include('../components/sidebar') %>
        <div class="left-part">
          <%- include('../components/nav') %>
          <div class="mainSection2">
            <div class="container">
              <div class="both-slate">
                <div class="title-with-icon">
                  <a href="/home"><div class="backIcon">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </div></a>
                  <h2 class="slate-title newslatetitle">اللائحة الداخلية لشئون الطلبة</h2>
                </div>
                <div class="newSlate">
                  <div class="container">
                    <form action="/home/addNewSlate" method="post" >
                      <div class="control">
                          <label for="nameSlate">اسم اللائحة<span>*</span></label>
                        <input type="text" name="nameSlate" id="nameSlate" required>
                      </div>  
                      <div class="control">
                          <label for="ardesc">وصف اللائحة باللغة العربية<span>*</span></label>
                        <input type="text" name="ardesc" id="ardesc" required>
                      </div>  
                      <div class="control">
                          <label for="endesc">وصف اللائحة باللغة الإنجليزية</label>
                        <input type="text" name="endesc" id="endesc">
                      </div>  
                      <div class="control">
                          <label for="slatecode">كود اللائحة</label>
                        <input type="number" name="slatecode" id="slatecode">
                      </div>  
                      <div class="control">
                          <label for="year">سنة بدء التطبيق<span>*</span></label>
                        <input type="number" name="year" id="year" required>
                      </div>  
                      <div class="control">
                          <label for="governcode">رقم القرار الوزراي<span>*</span></label>
                        <input type="number" name="governcode" id="governcode" required>
                      </div>  
                      <div class="control">
                          <label for="date">تاريخ القرار الوزاري<span>*</span></label>
                        <input type="date" name="date" id="date" required>
                      </div>  
                      <div class="control">
                          <label for="notes">ملاحظات بخصوص اللائحة ؟</label>
                        <input type="text" name="notes" id="notes">
                      </div>  
                      <div class="bothcheck">
                        <div class="control checkControl">
                            <label for="currentSlate" id="cu">لائحة حالية ؟</label>
                          <input type="checkbox" name="currentSlate" id="currentSlate">
                        </div>  
                        <div class="control checkControl">
                            <label for="nextStds " id="ne">تطبق على الطلاب المنقولين الى الفرق التالية؟</label>
                          <input type="checkbox" name="nextStds" id="nextStds">
                        </div> 
                      </div> 
                      <div class="bothcheck both3">
                      <div class="both2">
                          <div class="control checkControl">
                              <label for="type" id="ty">نوع الدارسين ؟</label>
                            <select name="type" id="type">
                              <option value="ذكر">ذكر</option>
                              <option value="انثى">انثى</option>
                              <option value="ذكر و انثى">ذكر و انثى</option>
                            </select>
                          </div>  
                          <div class="control checkControl">
                            <label for="study" id="st">نوع الدراسة ؟</label>
                            <select name="study" id="study">
                              <option value="نظري">نظري</option>
                              <option value="عملي">عملي</option>
                              <option value="نظري وعملي">نظري وعملي</option>
                            </select>     
                      </div>                 
                    </div> 
                    <button class="addNew">إضافة</button>
                    </div> 
                    <%- include('../components/toast.ejs') %>
                    </form >
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>  
  </div> 
  <script src="/main.js"></script>   
  <script>
    window.sessionStorage.setItem(document.querySelectorAll('input')[0].id , '' )
    document.querySelectorAll('input').forEach(el => {
      console.log(el);
      if (el !== document.querySelector("#currentSlate") && el !== document.querySelector("#nextStds") ){      if (window.sessionStorage.getItem(el.id)) {
        el.value = window.sessionStorage.getItem(el.id)
      }
      else {
        el.value = '';
      }
    }
    else {
      if (window.sessionStorage.getItem(el.id)) {
        el.checked = window.sessionStorage.getItem(el.id) === 'true' ? true : false
        console.log(el.checked)
        console.log(window.sessionStorage.getItem(el.id))
      }
      else {
        el.value = false;
      }
    }
    if (el !== document.querySelector("#currentSlate") && el !== document.querySelector("#nextStds") ){
      el.addEventListener('input' , () => {
      window.sessionStorage.setItem(el.id , el.value)
        })
    }
        else {
          el.addEventListener('change' , () => {
          window.sessionStorage.setItem(el.id , el.checked)
        })
      }
      })

      document.querySelectorAll('select').forEach(el => {
        if (window.sessionStorage.getItem(el.id)) {
          el.value = window.sessionStorage.getItem(el.id)
        }
        else {
          window.sessionStorage.setItem(el.id , el.value)
        }
        el.addEventListener('change' , () => {
          window.sessionStorage.setItem(el.id , el.value)
        })
      })
  </script>
  </body>
  </html>