<div class="container-both">
  <%- include('./sidebar') %>
  <div class="left-part">
    <%- include('./nav') %>
    <div class="mainSection2">
      <div class="container">
        <div class="both">
          <div class="title-with-icon">
            <a onclick="window.history.back()"><div class="backIcon">
                <i class="fa fa-arrow-right" aria-hidden="true"></i></div
            ></a>
            <h2 class="slate-title">قائمة اللوائح</h2>
          </div>
          <div class="allSlates">
            <div class="slate">
              <div class="upperPart">
                <p>#</p>
                <p>اسم اللائحة</p>
                <p>سنة بدأ التطبيق</p>
                <div class="iconStd"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
