<!DOCTYPE html>
<%- include('./components/head.ejs') %>
<body>
  <div class="container-both">
    <% if (name != '') { %>
    <%- include('./components/sidebar') %>
    <% } %>
        <div class="left-part">
            <%- include('./components/nav') %>
          <div class="container404 errorDiv">
    <h1 class="error">&#x2715;</h1>
    <p class="errorP">حدث خطا <%= error %></p>
    <p class="backP" >سيتم توجيهك الى الصفحة السابقة بعد <span>5</span> ثوان</p>
  </div>
  </div>
  </div>
  <script src="/main.js"></script>
  <script>
        let clearInt = setInterval(() => {
      document.querySelector('.backP span').innerText = parseInt(document.querySelector('.backP span').innerText) - 1;
      if (document.querySelector('.backP span').innerText == 0) {
        clearInterval(clearInt);
        window.location.href = history.back();
      }
    } , 1000)
  </script>
</body>
</html>