<!DOCTYPE html>
<%- include('../components/upperTerms.ejs') %>
                      <button>اقسام</button>
                      <div class="examsAndDivs">
                        <% if (exams.length > 0) { exams.forEach(el => { %>
                          <a href="/home/section/<%= el.section_code %>" class="hieraOne hieraDeg">قسم : <%= el.section_name %> </a>
                          <% }) } else {%>
                            <a class="hieraOne hieraDeg">لا يوجد اقسام مدخلة</a>
                          <% } %>
                      </div>
                  </div>
                    </div>
                  </div> 
              </div>
              </div>
        </div>
      </div>
    </div>  
  </div>  
  <script src="/main.js"></script> 
  <script>
    document.querySelector('.section').href = `${location.pathname}/show`
    document.querySelector('.exam').href = `${location.pathname}/add`
  </script>
  <script>
  </script> 
</body>
</html>