<!DOCTYPE html>
<%- include('../components/upperTerms.ejs') %>
                      <div class="examsAndDivs">
                        <a class="hieraOne hieraDeg section">شعب واقسام</a>
                        <a class="hieraOne hieraDeg exam">دور امتحانات</a>
                      </div>
                  </div>
                    </div>
                  </div> 
              </div>
              </div>
        </div>
      </div>
    </div>  
  </div>  
  <script src="/main.js"></script> 
  <script>
    document.querySelector('.section').href = `${location.pathname}/sections`
    document.querySelector('.exam').href = `${location.pathname}/exams`
  </script>
  <script>
  </script> 
</body>
</html>